#carrousel-item-one{
  background-image: url(../img/athenes/prez-anim-athenes.gif);
  background-size: cover;
  background-position: center;
}
#carrousel-item-one .arrows{
  color: var(--title-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#carrousel-item-two{
  background-image: url(../img/athenes/Affiches-07.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

#carrousel-item-three{
  background-image: url(../img/athenes/Affiches-10.jpg);
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

#carrousel-item-four{
  display: none;
  position: relative;
}
#carrousel-item-four video{
  height: 100%;
  padding-left: 5%;

}

h1{
  color: var(--text-color);
}