#carrousel-item-one{
  background-image: url(../img/ldc/prez-anim-ldc.gif);
  background-size: cover;
  background-position: center;
}
#carrousel-item-one .arrows{
  color: var(--title-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#carrousel-item-two{
  background-image: url(../img/ldc/montage_amant-dans-le-placard.mp4);
  background-size: cover;
  background-position: center;
  display: none;
  position: relative;
}

#carrousel-item-three{
  background-image: url(../img/ldc/montage_doublage-americain.mp4);
  background-size: cover;
  background-position: center;
  display: none;
  position: relative;
}

#carrousel-item-four{
  background-image: url(../img/ldc/montage_match-entre-copains.mp4);
  background-size: cover;
  background-position: center;
  display: none;
  position: relative;
}

#carrousel-item-five{
  background-image: url(../img/ldc/montage_match-parfait.mp4);
  background-size: cover;
  background-position: center;
  display: none;
  position: relative;
}

#carrousel-item-two video, #carrousel-item-three video, #carrousel-item-four video, #carrousel-item-five video{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

h1{
  color: var(--text-color);
}


@media screen and (max-width: 500px) {
  #carrousel-item-two video, #carrousel-item-three video, #carrousel-item-four video, #carrousel-item-five video{
    top: 20vw;
  }
   
}
@media screen and (min-width: 576px) {
  #carrousel-item-two video, #carrousel-item-three video, #carrousel-item-four video, #carrousel-item-five video{
    top: 0;
    height: 600px;
  }
}

@media screen and (min-width: 992px) {
  #carrousel-item-two video, #carrousel-item-three video, #carrousel-item-four video, #carrousel-item-five video{
    height: auto;
  }
}