#carrousel-item-one{
  background-image: url(../img/test.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
#carrousel-item-one .arrows{
  color: var(--title-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#carrousel-item-two{
  background-image: url(../img/test.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  display: none;
}

#carrousel-item-three{
  background-image: url(../img/test.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  display: none;
}

#carrousel-item-four{
  background-image: url(../img/test.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  display: none;
}

#carrousel-item-five{
  background-image: url(../img/test.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  display: none;
}