#carrousel-item-one{
  background-image: url(../img/efficio/prez-anim-efficio.gif);
  background-size: cover;
  background-position: center;
}
#carrousel-item-one .arrows{
  color: var(--title-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#carrousel-item-two{
  background-image: url(../img/efficio/efficio-recherche.jpg);
  background-size: cover;
  background-position: center;
  display: none;
}

#carrousel-item-three{
  background-image: url(../img/efficio/efficio-rs.jpg);
  background-size: cover;
  background-position: center;
  display: none;
}

#carrousel-item-four{
  background-image: url(../img/efficio/mockup-profil-edgar.jpg);
  background-size: cover;
  background-position: center;
  display: none;
}

#carrousel-item-five{
  background-image: url(../img/efficio/pauline-queru_Plan\ de\ travail\ 1.jpg);
  background-size: cover;
  background-position: center;
  display: none;
}

h1{
  color: var(--text-color);
}

