#carrousel-item-one{
  background-image: url(../img/e2c/prez-anim-e2c.gif);
  background-size: cover;
  background-position: center;
}
#carrousel-item-one .arrows{
  color: var(--title-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#carrousel-item-two{
  display: none;
  position: relative;
}

#carrousel-item-three{
  display: none;
  position: relative;
}

#carrousel-item-four{
  display: none;
  position: relative;
}

#carrousel-item-five{
  display: none;
  position: relative;
}

#carrousel-item-two video, #carrousel-item-three video, #carrousel-item-four video, #carrousel-item-five video{
  width: 90%;
}


h1{
  color: var(--text-color);
}

@media screen and (max-width: 500px) {
  #carrousel-item-two video, #carrousel-item-three video, #carrousel-item-four video, #carrousel-item-five video{
    top: 20vw;
  }
   
}
@media screen and (min-width: 576px) {
  #carrousel-item-two video, #carrousel-item-three video, #carrousel-item-four video, #carrousel-item-five video{
    top: 0;
    height: 600px;
  }
}

@media screen and (min-width: 992px) {
  #carrousel-item-two video, #carrousel-item-three video, #carrousel-item-four video, #carrousel-item-five video{
    height: auto;
  }
}